// Body
$body-bg: #202020;

// Typography
$font-family-sans-serif: 'Ubuntu Mono', monospace;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color palette
$gold: #e2be1d;
$strong-gold: #ffd100;
$black: #202020;
$gray: #333533;
$white: #ffff;